{erl_opts, [
    no_debug_info,
    fail_on_warning,
    {parse_transform, lager_transform},
    {i, "include/"}
]}.

{deps, [
    lager,
    {getopt, "1.0.2"}
]}.

{escript_incl_apps,
 [fsm]}.
{escript_main_app, fsm}.
{escript_name, fsm}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
